* {
  transition: 0.2s;
}

window {
	font-family: "Inter";
	letter-spacing: 0.05em;
	font-size: 16px;
    line-height: 1;
}

window {
    margin: 0px;
    border: none;
    background-color: transparent;
    border-radius: 8px;
}


#input {
	padding: 4px 12px;
	margin: 12px;
	margin-bottom: 8px;
	border: none;
	color: @foreground;
	background-color: #313244;
	outline: none;
}

#input image {
    color: #fff;
}

#input:focus {
    border: none;
   	outline: none;
}

#inner-box {
    margin: 12px;
    margin-top: 0px;
    border: none;
    color: transparent;
    border-radius: 8px;
}

#inner-box * {
    transition: none;
}

#outer-box {
    margin: 0px;
    border: none;
    padding: 0px;
    border-radius: 16px;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 16px;
    margin-bottom: 5px;
}

#img {
    margin-right: 4px;
    background: transparent;
}

#text {
	margin: 4px;
	padding: 4px 6px;
	color: rgba(255, 255, 255, 0.5);
}

#text:selected {
	color: #ffffff;
	margin: 4px;
	border: none;
	border-radius: 8px;
}

#entry {
	margin: 0px 0px;
	border: none;
	border-radius: 0px;
	background-color: transparent;
}

#entry:selected {
	margin: 0px 0px;
	border: none;
	border-radius: 8px;
	background: #313244;
}
