* {
	border: none;
	border-radius: 0;
	font-family: monospace;
	font-weight: bold;
	font-size: 14px;
	min-height: 0;
}

window#waybar {
	background: transparent;
}

tooltip {
	border-radius: 4px;
	border: none;
	border-style: solid;
	background: #1b002e;
}

tooltip * {
	color: #e4bfff;
}

#workspaces button {
	background-color: #1b002e;
	padding: 6px 12px;
	border-radius: 4px;
	margin-right: 6px;
	transition-property: all;
	transition-duration: 0.5s;
}

#workspaces button.active {
	background: #390366;
	color: #ffffff;
}

#workspaces button.focused {
	color: #ffffff;
	border-radius: 4px;
}

#workspaces button.urgent {
	background: #390366;
	border-radius: 4px;
}

#workspaces button:hover {
	background: #390366;
	color: #ffffff;
}

#window {
	color: #e4bfff;
}

#custom-updates,
#clock,
#battery,
#network,
#workspaces,
#tray,
#backlight {
	background: transparent;
	margin: 6px 0px;
	margin-top: 6px;
	color: #e4bfff;
}

#tray {
	margin-right: 8px;
	border-radius: 4px;
	background-color: #1b002e;
	padding: 6px 12px;
}

#workspaces {
	padding-right: 0px;
	padding-left: 5px;
}

#window {
	margin-left: 60px;
	margin-right: 60px;
}

#clock {
	border-radius: 5px;
	margin-left: 4px;
	margin-right: 2px;
	background-color: #1b002e;
	padding: 6px 12px;
}

#custom-updates {
	margin-right: 8px;
	border-radius: 4px;
	background-color: #1b002e;
	padding: 6px 12px;
}

#network {
	margin-right: 8px;
	border-radius: 4px;
	background-color: #1b002e;
	padding: 6px 12px;
}

#backlight {
	margin-right: 8px;
	border-radius: 4px;
	background-color: #1b002e;
	padding: 6px 12px;
}

#battery {
	margin-right: 5px;
	border-radius: 4px;
	background-color: #1b002e;
	padding: 6px 12px;
}
